:root {
  --beak-bottom: #c91e36;
  --black: #3a3a3a;
  --burnt-sienna: #ae5349;
  --brown: #9f604f;
  --dark-brown: #7d4332;
  --dark-gray: #505050;
  --gray: #b5b4b9;
  --lighter-gray: #bebdc2;
  --marigold: #d68765;
  --orange: #f7995b;
  --pale-blue: #c4d5e4;
  --red: #da5666;
  --white: #fff;
}

html {
  height: 100%;
}

body {
  background-color: rgb(235, 235, 235);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  height: 100%;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin: 0;
}

button {
  background: var(--black);
  border: none;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.1rem;
  height: 50px;
  letter-spacing: 3px;
  margin-top: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  width: 110px;
}

button:hover {
  background: var(--dark-gray);
  letter-spacing: 4px;
  outline: 0;
}

button:focus {
  outline: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  color: var(--dark-brown);
  margin: 20px 20px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.animal-profile {
  border: 2px solid var(--dark-brown);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  padding: 3px 15px;
  margin: 0 20px 20px;
  width: 266px;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  border: 10px solid white;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  width: 100%;
}

.beak-bottom {
  animation: sing 6s infinite ease-in-out;
}

.cloud1 {
  animation: cloud1 20s linear infinite;
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  width: 160px;
  z-index: -1;
}

.cloud2 {
  animation: cloud2 25s linear infinite;
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 145px;
  width: 135px;
  z-index: -1;
}

.cloud3 {
  animation: cloud3 30s linear infinite;
  position: absolute;
  fill: rgb(255, 255, 255);
  top: 215px;
  width: 90px;
  z-index: -1;
}

.finch {
  height: 200px;
  margin: 0 auto;
  width: 300px;
}

.flip-container {
  cursor: pointer;
  min-height: 571px;
  perspective: 800px;
  position: relative;
  width: 360px;
}

.flipped {
  transform: rotateY(180deg);
}

.front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  /*new*/
  border: 10px solid white;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--pale-blue);
  box-sizing: border-box;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.logo-bird {
  margin: 0 3px 0 2px;
  position: relative;
  top: 5px;
  width: 42px;
}

.logo-circle {
  align-items: center;
  background: var(--white);
  border-radius: 140px;
  -moz-border-radius: 140px;
  -webkit-border-radius: 140px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: center;
  padding-top: 10px;
  text-transform: uppercase;
  width: 260px;
}

.logo-circle > h2 {
  color: var(--brown);
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.7rem;
  letter-spacing: 4px;
  margin: -9px 0 -4px;
}

.logo-circle > h3 {
  border: 1.5px solid var(--brown);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 15.5px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 5px 12px;
}

.logo-circle > h4 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.5px;
  margin: 0;
}

.logo-circle > p {
  color: var(--brown);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 13px;
}

.mask {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: flex-end;
  width: 340px;
}

.polka-dots {
  background: var(--brown);
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 25%, transparent 0),
    radial-gradient(rgba(255, 255, 255, 0.2) 25%, transparent 0);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}

.trading-card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

/*-------------------
 * svg styles
 *-----------------*/

.beak-bottom {
  fill: var(--beak-bottom);
}
.black {
  fill: var(--black);
}
.burnt-sienna {
  fill: var(--burnt-sienna);
}
.brown {
  fill: var(--brown);
}
.dark-brown {
  fill: var(--dark-brown);
}
.gray {
  fill: var(--gray);
}
.lighter-gray {
  fill: var(--lighter-gray);
}
.marigold {
  fill: var(--marigold);
}
.orange {
  fill: var(--orange);
}
.red {
  fill: var(--red);
}
.white {
  fill: var(--white);
}
.logo-bird-path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--brown);
}

/*-------------------
 * animations
 *-----------------*/

/* cloud animations */
@keyframes cloud1 {
  0% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
}

@-moz-keyframes cloud1 {
  0% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
}

@-ms-keyframes cloud1 {
  0% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
}

@-o-keyframes cloud1 {
  0% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
}

@-webkit-keyframes cloud1 {
  0% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.6;
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(160px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(160px);
    opacity: 0.5;
  }
}

@-moz-keyframes cloud2 {
  0% {
    transform: translateX(160px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(160px);
    opacity: 0.5;
  }
}

@-ms-keyframes cloud2 {
  0% {
    transform: translateX(160px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(160px);
    opacity: 0.5;
  }
}

@-o-keyframes cloud2 {
  0% {
    transform: translateX(160px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(160px);
    opacity: 0.5;
  }
}

@-webkit-keyframes cloud2 {
  0% {
    transform: translateX(160px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(160px);
    opacity: 0.5;
  }
}

@keyframes cloud3 {
  0% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
}

@-moz-keyframes cloud3 {
  0% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
}

@-ms-keyframes cloud3 {
  0% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
}

@-o-keyframes cloud3 {
  0% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
}

@-webkit-keyframes cloud3 {
  0% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
}

/* sing animation */
@keyframes sing {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  2% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  4% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  6% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  8% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
}

@-moz-keyframes sing {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  2% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  4% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  6% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  8% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
}

@-ms-keyframes sing {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  2% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  4% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  6% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  8% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
}

@-o-keyframes sing {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  2% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  4% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  6% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  8% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
}

@-webkit-keyframes sing {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  2% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  4% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  6% {
    transform: translateY(-2%) rotate(8deg);
    transform-origin: top left;
  }
  8% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: top left;
  }
}
